body{
  color: #40514E;
  margin: 0;
  font-family: Papyrus;
  font-size: 28px;
  text-align: center;
  text-shadow: 3px 3px 3px #ababab;
}

h1{
color: #66BFBF;
margin: 50px auto 0 auto;
padding-top: 100px;
font-size: 5.625em;
}

h2{
  color: #66BFBF;
  font-family:  Castellar;
  padding-bottom: 10px;
}

h3{
color: #66BFBF;

}

p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #11999E;
  font-family: Algerian;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.img{
  padding-top: 20px;
}

.one-para{
  color: #11999E;
  font-size: 50px;
}

.message{
  width: 30%;
  margin: auto;
  padding-bottom: 100px;
}

.intro{
  width: 30%;
  margin: auto;
}

.copy-right{
  color:  #EAF6F6;
  font-size: 20px;
  padding: 20px 0px;
}


.top-container{
  background-color: #9BB4C0;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.bottom-cloud{
  position: absolute;
}

.skill-row{
  width: 50%;
  position: relative;
  left: 300px;
  text-align: left;
}


.top-cloud{
  position: relative;
  top: 50px;
  left: 150px;
}
